<article id="headline">
  <header>
    <img src="/assets/images/logo@2x.png" width="320" height="320" alt="Logo">

    <h2>Minimal Podcast</h2>
    <h2>5 Minutes Long</h2>
    <h2>Objective C</h2>
  </header>
  
  <nav>
      <ul>
        <li>
          <a href="???">
          <img src="/assets/images/podcast@2x.png" width="26" height="31" alt="Podcast">
          <span class="hide_large">Subscribe in iTunes</span>
          <span class="hide_small">iTunes</span>
        </a>
        </li>
        <li class = "two_col_small">
          <a href="{{ site.feedburner_url }}">
            <img src="/assets/images/rss@2x.png" width="22" height="22" alt="Rss">
          RSS</a>
        </li>
        <li class="two_col_small">
          <a href="http://twitter.com/pod5podcast">
            <img src="/assets/images/twitter@2x.png" width="29" height="24" alt="Twitter">
          pod5podcast</a>
        </li>
      </ul>
  </nav>
</article>