<li>
  <h4>
    <a href={{ include.homepage }}>{{ include.project }}</a>
    {% if include.source != '' and include.source != include.homepage %}
      &nbsp;
      ( <a href={{ include.source }}>source</a> )
    {% endif %}
    {{ include.version }} by {{ include.author }}
    {% if include.twitter != "" %} (
      {% assign twitters = include.twitter | split:"," %}
      {% for twitter in twitters %}
        <a href="http://twitter.com/{{ twitter }}">@{{ twitter }}</a>
      {% endfor %}
    ){% endif %}
  </h4>
  <p>{{ include.description }}</p>
</li>
