---
layout: post
podcast_file_name: 'episode12.mp3'
duration: '05:34'
data_length: '6696257'
published: true
title: Episode 12
---

{% include post_start.html %}

<p class="ed">With <a href="http://twitter.com/orta">@orta</a> and <a href="http://twitter.com/dblockdotorg">@dblockdotorg</a></p>.

{% include note.html   project='FlipTheSwitch' version='0.2.0' author='Michael England' twitter='mg_england' description='A simple library to help enabling/disabling features on iOS/Mac applications.' homepage='https://github.com/michaelengland/FlipTheSwitch' source='https://github.com/michaelengland/FlipTheSwitch' %}

{% include note.html   project='AFBlurSegue' version='1.1' author='Alvaro Franco' twitter='alvarofr_' description='Custom UIStoryboardSegue implementation for blurring the background of a modal view controller.' homepage='https://github.com/AlvaroFranco/AFBlurSegue' source='https://github.com/AlvaroFranco/AFBlurSegue' %}

{% include note.html   project='RWBarChartView' version='1.0.0' author='Bin Zhang' twitter='eternity1st' description='Scrollable chart view for bar graphs.' homepage='https://github.com/eternityz/RWBarChartView' source='https://github.com/eternityz/RWBarChartView' %}

{% include note.html   project='HTMLReader' version='0.5.5' author='Nolan Waite' twitter='' description='A WHATWG-compliant HTML parser in Objective-C.' homepage='https://github.com/nolanw/HTMLReader' source='https://github.com/nolanw/HTMLReader' %}

{% include note.html   project='UriParser-cpp' version='0.1.3' author='Covenant Eyes' twitter='CovenantEyes' description='a simple parser, encoder and decoder for URIs' homepage='https://github.com/cine-io/uri-parser' source='https://github.com/cine-io/uri-parser' %}

{% include note.html   project='Dijkstra' version='0.0.1' author='Julien Gomes' twitter='juliengomes' description='A swift based implementation of the Dijkstra algorithm' homepage='https://github.com/juliengomes/Dijkstra-swift' source='https://github.com/juliengomes/Dijkstra-swift' %}

{% include note.html   project='EKAlgorithms' version='0.1' author='Evgeny Karkan &amp; Stanislaw Pankevich' twitter='EvgenyKarkan,sbpankevich' description='EKAlgorithms contains some well known CS algorithms and other stuff.' homepage='https://github.com/EvgenyKarkan/EKAlgorithms' source='https://github.com/EvgenyKarkan/EKAlgorithms' %}

<p class="ed">Soundtrack: <a href="http://ccmixter.org/files/unreal_dm/46279">"Destroy the Shadows" by unreal_dm</a>.</p>

{% include post_end.html %}
