---
layout: post
podcast_file_name: 'episode8.mp3'
duration: '05:00'
data_length: '4807702'
published: true
title: Episode 8
---

{% include post_start.html %}

{% include note.html   project='Collector' version='1.0.0' author='Michaël Fortin' twitter='IrradiatedApps' description='Ruby and LINQ-inspired categories on NSArray. Fully tested and documented.' homepage='http://github.com/fortinmike/Collector' source='' %} 

{% include note.html   project='AGGeometryKit+POP' version='0.1' author='Håvard Fossli' twitter='hfossli' description='Bridging AGGeometryKit with POP for amazing dynamics and animations.' homepage='https://github.com/hfossli/AGGeometryKit-POP' source='' %} 

{% include note.html   project='MobileVLCKit' version='2.2.0' author='Pierre d'Herbemont & Felix Paul Kühne' twitter='videolan' description='MobileVLCKit is an Objective-C wrapper for libvlc&#39;s external interface on iOS.' homepage='https://wiki.videolan.org/VLCKit/' source='' %} 

{% include note.html   project='BCMeshTransformView' version='0.8.1' author='Bartosz Ciechanowski' twitter='bciechanowski' description='Mesh transforms for UIView' homepage='https://github.com/Ciechan/BCMeshTransformView' source='' %} 

{% include note.html   project='Axt' version='0.0.1' author='Matthias Hochgatterer' twitter='brutella' description='A forgiving HTML SAX Parser for iOS.' homepage='https://github.com/brutella/Axt' source='' %} 

{% include note.html   project='ULDocument' version='1.0.0' author='The Soulmen GbR' twitter='ulyssesapp' description='A lightweight and iCloud-ready document class.' homepage='https://github.com/soulmen/ULDocument.git' source='' %} 

<p class="ed">Soundtrack: <a href="http://ccmixter.org/files/texasradiofish/45892">I'm Not Going Away by texasradiofish</a>.</p>
<p class="ed">Guest host: <a href="http://ashfurrow.com">Ash Furrow</a>.</p>

{% include post_end.html %}

