---
layout: post
podcast_file_name: 'episode4.mp3'
duration: '04:37'
data_length: '5557839'
published: true
title: Episode 4
---

{% include post_start.html %}

{% include note_not_pod.html project="FuzzyAutoComplete 2" subtitle="Xcode plugin" author="Leszek Ślażyński & Jack Chendo" twitter="slazyk" description="This is a Xcode 5 plugin that patches the autocomplete filter to work the same way the Open Quickly works. It performs very well, and the fuzzy matching actually uses Xcode's own IDEOpenQuicklyPattern." homepage="https://github.com/FuzzyAutocomplete/FuzzyAutocompletePlugin" %}

{% include note.html   project='NSString+LevenshteinDistance' version='0.0.1' author='koyachi' twitter='Tsutomu Koyachi' description='Levenshtein distance methods for NSString.' homepage='https://github.com/koyachi/NSString-LevenshteinDistance' %}

{% include note.html   project='NTYCSVTable' version='0.1.0' author='Naoto Kaneko' twitter='naoty_k' description='CSV parser for Objective-C inspired by CSV::Table class of Ruby.' homepage='https://github.com/naoty/NTYCSVTable' %}

{% include note.html   project='DBGHTMLEntities' version='0.2.0' author='David Grandinetti' twitter='dbgrandi' description='Easily Decode/Encode HTML entity strings (e.g. &amp;)' homepage='https://github.com/dbgrandi/DBGHTMLEntities' %}

{% include note.html   project='DKUserDictionary' version='1.0.0' author='Daisuke Kobayashi' twitter='bonegollira' description='Use NSUserDefaults like NSDictionary.' homepage='https://github.com/bonegollira/DKUserDictionary' %}

{% include note.html   project='MIHCrypto' version='0.1.0' author='Michael Hohl' twitter='mihohl' description='OpenSSL wrapper for Objective-C' homepage='https://github.com/hohl/MIHCrypto' %}

{% include note.html   project='ZXCVBN' version='1.0.3' author='John Johnson' twitter='gabrlh' description='ZXCVBN password strength estimation' homepage='https://tech.dropbox.com/2012/04/zxcvbn-realistic-password-strength-estimation/' %}

{% include note.html   project='Navajo' version='0.0.1' author='Mattt Thompson' twitter='mattt' description='Password Validator & Strength Evaluator.' homepage='https://github.com/mattt/Navajo' %}

{% include post_end.html %}
