---
layout: post
podcast_file_name: 'episode1.mp3'
title: "Episode 1"
duration: '06:53'
data_length: '6614957'
published: true
---

{% include post_start.html %}


{% include note_not_pod.html project="CocoaPods Bug Bash" subtitle="The CocoaPods issue triage" source='' homepage="http://blog.cocoapods.org/CocoaPods-Bug-Bash/" description="We bashed a lot of bugs!" %}

{% include note.html project='JGORegExpBuilder' version='1.0.1' author='Jan Gorman' twitter='JanGorman' description='A delightful regular expression DSL' source='' homepage='https://github.com/JanGorman/JGORegExpBuilder' %}

{% include note.html project='OBME' version='0.1.0' author='Manu Mtz-Almeida' twitter='' description='Fast and easy to use tool in simple OBJECTIVE-C to avoid memory cheating by scanning (searching).' source="https://github.com/manucorporat/OBME" homepage='http://forzefield.com' %}

{% include note.html project='NBThemeConfig' version='1.0.0' author='Josh Justice' twitter='' description='Configure all the colors for your app in a single plist.' source='' homepage='https://github.com/needbee/nbthemeconfig' %}

{% include note.html project='JTSImageViewController' version='1.0.0' author='Jared Sinclair' twitter='' description='An interactive iOS image viewer that does it all: double tap to zoom, flick to dismiss, et cetera.' source='' homepage='https://github.com/jaredsinclair/JTSImageViewController' %}

{% include note.html project='FastImageCache' version='1.3' author='Mallory Paine Michael Potter' twitter='' description='iOS library for quickly displaying images while scrolling' source='' homepage='https://github.com/path/FastImageCache' %}

{% include note.html project='XCTest+OHHTTPStubSuiteCleanUp' version='1.0.0' author='Laura Brown' twitter='1aurabrown' description='Removes all OHHTTP stubs between test suites.' source='' homepage='https://github.com/1aurabrown/XCTest-OHHTTPStubSuiteCleanUp' %}


{% include post_end.html %}


<p class="ed">Editors Note:</em> Definitely enjoying the irony of claiming to have it in 5 minutes then failing on the first episode. ./</p>
t
