---
layout: post
podcast_file_name: 'episode3.mp3'
duration: '04:52'
data_length: '4689001'
published: true
title: Episode 3
---

{% include post_start.html %}

{% include note.html   project='JBWBuilders' version='0.0.1' author='Joris Kluivers' twitter='kluivers' description='Builder categories for NSURL and NSDate.' source='' homepage='https://github.com/kluivers/jbw-builders' %}

{% include note.html   project='EDColor' version='0.2.1' author='Andrew Sliwinski' twitter='thisandagain' description='A collection of categories and utilities that extend UIColor.' source='' homepage='https://github.com/thisandagain/color' %}

{% include note.html   project='EBPhotoPages' version='0.9.1' author='Eddy Borja' twitter='eddyborja_' description='A photo gallery for iOS with a modern feature set.' source='' homepage='https://github.com/EddyBorja/EBPhotoPages' %}

{% include note.html   project='CMDQueryStringSerialization' version='0.2.0' author='Caleb Davenport' twitter='calebd' description='Easy conversion between dictionaries and query strings in Objective-C.' source='' homepage='https://github.com/calebd/CMDQueryStringSerialization' %}

{% include note.html   project='CCHexagonFlowLayout' version='1.0.2' author='Cyril Chandelier' twitter='cyrilchandelier' description='UICollectionView layout for both horizontal and vertical management of hexagonal cells.' source='' homepage='https://github.com/cyrilchandelier/CCHexagonFlowLayout' %}

<p class="ed">We officially endorse the <a href="http://dybskiy.com/laptop-sticker-standard/">Hexagonal Laptop Sticker Standard Committee</a>.</p>

{% include post_end.html %}

