---
layout: post
podcast_file_name: 'episode2.mp3'
duration: '03:34'
data_length: '4286199'
published: true
title: Episode 2
---

{% include post_start.html %}

{% include note_not_pod.html project="Polychromatic" subtitle="Xcode plugin" author="Kolin Krewinkel" twitter="kkrewink" description="Coloring with significance. Polychromatic is an Xcode plugin that truly emphasizes content. By giving properties, ivars, and local variables each a unique, dynamic color, and stripping away color from types which do not need it, logic becomes clear and apparent." homepage="https://github.com/kolinkrewinkel/Polychromatic" %}

{% include note_not_pod.html project="CocoaPods Sort Search" subtitle="CocoaPods plugin" author="Denys Telezhkin" twitter="denisheadless" description="CocoaPods plugin which adds a `sort` subcommand for `pod search` to sort search results by amount of stars, forks, or github activity." homepage="https://github.com/DenHeadless/cocoapods-sorted-search" %}

{% include note.html   project='MDCSwipeToChoose' version='0.1.0' author='Brian Gesiak' twitter='modocache' description='Swipe to "like" or "dislike" any view, just like Tinder.app. Build a flashcard app, a photo viewer, and more, in minutes, not hours!' homepage='https://github.com/modocache/MDCSwipeToChoose' %}

{% include note.html   project='CPKenburnsView' version='0.6.0' author='Muukii' twitter='muukii0803' description='CPKenburnsView is kenburn effects imageView' homepage='https://github.com/muukii0803/CPKenburnsView' %}

{% include note.html   project='SCPageViewController' version='1.0.0' author='Stefan Ceriu' twitter='stefanceriu' description='SCPageViewController is a container controller which allows you to paginate other view controllers and build custom transitions.' homepage='https://github.com/stefanceriu/SCPageViewController' %}

{% include note.html   project='AnimatedGIFImageSerialization' version='0.0.1' author='Mattt Thompson' twitter='mattt' description='Decodes UIImage sequences from Animated GIFs.' homepage='https://github.com/mattt/AnimatedGIFImageSerialization' %}

{% include post_end.html %}

<p class="ed">Editors Note: Hah. I guess we made up for the overflow by going too far in the other direction. ./</p>
