---
layout: post
podcast_file_name: 'episode2.mp3'
duration: '03:34'
data_length: '4286199'
published: true
title: Episode 2
---

{% include post_start.html %}

{% include note_not_pod.html project="CocoaPods Sort Search" subtitle="Custom sorts in pod search" author="Denys Telezhkin" twitter="denisheadless" description="CocoaPods plugin which adds a `sort` subcommand for `pod search` to sort search results by amount of stars, forks, or github activity. 
" homepage="https://github.com/DenHeadless/cocoapods-sorted-search" %}

{% include note.html   project='MDCSwipeToChoose' version='0.1.0' author='modocache' twitter='' description='Swipe to "like" or "dislike" any view, just like Tinder.app. Build a flashcard app, a photo viewer, and more, in minutes, not hours!' homepage='https://github.com/modocache/MDCSwipeToChoose' %} 

{% include note.html   project='CPKenburnsView' version='0.6.0' author='muukii' twitter='' description='CPKenburnsView is kenburn effects imageView' homepage='http://www.muukii.me' %} 

{% include note.html   project='SCPageViewController' version='1.0.0' author='Stefan Ceriu' twitter='' description='SCPageViewController is a container controller which allows you to paginate other view controllers and build custom transitions.' homepage='https://github.com/stefanceriu/SCPageViewController' %} 

{% include note.html   project='AnimatedGIFImageSerialization' version='0.0.1' author='Mattt Thompson' twitter='mattt' description='Decodes UIImage sequences from Animated GIFs.' homepage='https://github.com/mattt/AnimatedGIFImageSerialization' %} 

{% include note.html   project='KKSimpleAnalytics' version='0.1.0' author='Konstantin Koval' twitter='KostiaKoval' description='Google Analytics made Simple. Automatic page view tracking' homepage='https://medium.com/@KostiaKoval' %} 

{% include post_end.html %}

<p class="ed">Editors Note: Hah. I guess we made up for the overflow by going too far in the other direction. ./</p>