---
layout: post
podcast_file_name: 'episode10.mp3'
duration: '05:19'
data_length: '6386967'
published: true
title: Episode 10
---

{% include post_start.html %}

<p class="ed">With <a href="http://twitter.com/1aurabrown">@1aurabrown</a>, <a href="http://twitter.com/dblockdotorg">@dblockdotorg</a> and <a href="http://twitter.com/orta">@orta</a></p>.

{% include note.html   project='CINBouncyButton' version='1.0.1' author='Max Kramer' twitter='maxkramer' description='UIButton, but bouncier and with your own icons.' homepage='https://github.com/MaxKramer/CINBouncyButton' source='https://github.com/MaxKramer/CINBouncyButton' %}

{% include note.html   project='Bars' version='1.0.1' author='Klaas Pieter Annema' twitter='klaaspieter' description='iOS view to display bar graphs' homepage='https://github.com/yourkarma/bars' source='https://github.com/yourkarma/bars' %}

{% include note.html   project='Tiny' version='1.0.0' author='Scott Petit' twitter='ScottPetit' description='An extensible wrapper around URL Shorteners' homepage='https://github.com/ScottPetit/Tiny' source='https://github.com/ScottPetit/Tiny' %}

{% include note.html   project='NSObject-SafeExpectations' version='0.0.2' author='Jorge Bernal &amp; Aaron Douglas' twitter='koke,astralbodies' description='No more crashes getting unexpected values from a NSDictionary.' homepage='https://github.com/wordpress-mobile/NSObject-SafeExpectations' source='https://github.com/wordpress-mobile/NSObject-SafeExpectations' %}

{% include note.html   project='UAProgressView' version='0.1.0' author='Matt Coneybeare' twitter='coneybeare' description='UAProgressView is a simple and lightweight, yet powerful animated circular progress view.' homepage='https://github.com/UrbanApps/UAProgressView' source='https://github.com/UrbanApps/UAProgressView' %}

{% include note.html   project='BSNetworkTraffic' version='0.1.1' author='Bogdan Stasjuk' twitter='Bogdan_Stasjuk' description='A singleton for calculating app&#39;s network traffic through system network counters.' homepage='https://github.com/Bogdan-Stasjuk/BSNetworkTraffic' source='https://github.com/Bogdan-Stasjuk/BSNetworkTraffic' %}

{% include note.html   project='LruCache' version='0.1' author='Robin Zhang' twitter='' description='Objective-C implementation of Least Recently Used(LRU) cache.' homepage='https://github.com/robinzhangx/LruCache' source='https://github.com/robinzhangx/LruCache' %}

{% include note.html   project='TesseractOCRiOS' version='2.22' author='Daniele Galiotto' twitter='g8production' description='It helps you to use OCR in iOS projects, writing Objective-C. Easy and fast.' homepage='https://github.com/gali8/Tesseract-OCR-iOS' source='https://github.com/gali8/Tesseract-OCR-iOS' %}

{% include note.html   project='M13PDFKit' version='0.9.0' author='Brandon McQuilkin' twitter='' description='M13PDFKit is an iBooks like PDF viewer that can be embedded in iOS applications.' homepage='https://github.com/Marxon13/M13PDFKit' source='https://github.com/Marxon13/M13PDFKit' %}

<p class="ed">Soundtrack: <a href="http://freemusicarchive.org/music/Mark_Castle/Real_For_You_Remix_Single/Real_For_You_Remix">"Real For You (Remix)" by Mark Castle</a>.</p>

{% include post_end.html %}

